<a href="https://colab.research.google.com/github/Riya1980/Python-basics/blob/main/Python_Data_Structure_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python** **Data** **Structure**


1) What are data structures, and why are they important?
     - Data structures are ways of organizing and storing data (e.g., list, tuple, set, dict).
They are important because they make data access, storage, and processing more efficient.

2) Difference between mutable and immutable data types with examples.

    -Mutable: can be changed after creation (e.g., list, dict, set).

    -Immutable: cannot be changed after creation (e.g., tuple, string, int).
     - Example: l = [1,2,3]; l[0]=99   # works

                   t = (1,2,3); t[0]=99   # error

3) Main differences between lists and tuples in Python.

   - List: mutable, slower, more flexible.

    - Tuple: immutable, faster, ensures data integrity.  

4) How dictionaries store data?

   - Dictionaries use a hash table internally, mapping keys (hashed) to memory locations where values are stored.

5) Why might you use a set instead of a list?

    - Sets automatically remove duplicates.

    - Faster membership checking (in).

6) What is a string in Python, and how is it different from a list?

   - String = sequence of characters, immutable.

    - List = sequence of elements, mutable, can hold mixed data types.

7) How do tuples ensure data integrity?

   - They are immutable, so once created, their values cannot be altered.

8) What is a hash table, and how does it relate to dictionaries?

   - A hash table stores data using a hash function to map keys → values.
   - Dictionaries in Python are implemented using hash tables.

9) Can lists contain different data types in Python?

   - Yes. Example: [1, "hello", 3.14].

10) Why are strings immutable in Python?

    - To save memory (string interning), ensure consistency, and allow strings to be hashable (usable as dictionary keys).

11) Advantages of dictionaries over lists.
  
    - Direct key-based access (faster lookups).

     - No need to search element by index.

     - Better for representing mappings/relationships.


12) Scenario where using a tuple is preferable over a list.

    - When storing data that should not change, like coordinates (x, y) or database IDs.

13) How do sets handle duplicate values in Python?

    - Sets automatically remove duplicates.

    s = {1,2,2,3}
     # result: {1,2,3}

14) How does the “in” keyword work differently for lists and dictionaries?

    - List: checks if element exists in the list.

     - Dict: checks if key exists in the dictionary.


15) Can you modify the elements of a tuple? Explain why or why not.

     - No, tuples are immutable.

      -  But if a tuple contains a mutable object (like a list), that inner object can be modified.

16) What is a nested dictionary, and example use case?

    - A dictionary inside another dictionary.

    students = {"Alice": {"age":20,"grade":"A"}}

    -  Use case: storing structured data (e.g., student records).

17) Time complexity of accessing elements in a dictionary.

    - O(1) average case, due to hashing.

18) In what situations are lists preferred over dictionaries?

     - When order matters, or when storing simple sequences without key-value mapping.


19) Why are dictionaries considered unordered, and how does that affect data retrieval?

     - Traditionally, dictionaries did not guarantee order.
      - From Python 3.7+, they preserve insertion order, but retrieval is still key-based, not index-based.

20) Difference between a list and a dictionary in terms of data retrieval

     - List: elements retrieved by index (position).

     - Dict: elements retrieved by key (faster lookup).

# **Practical questions**:-

In [1]:
#1) Create a string with your name and print it.

name = "Riya Chaudhary"
print(name)

Riya Chaudhary

In [2]:
#2) Find the length of the string "Hello World"

s = "Hello World"
print(len(s))

11

In [3]:
#3) Slice the first 3 characters from "Python Programming"

s = "Python Programming"
print(s[:3])

Pyt

In [4]:
#4) Convert "hello" to uppercase.

s = "hello"
print(s.upper())

HELLO

In [5]:
#5) Replace "apple" with "orange" in "I like apple"

s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [6]:
#6) Create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7) Append the number 10 to [1, 2, 3, 4]

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
#8) Remove the number 3 from [1, 2, 3, 4, 5]

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
#9) Access the second element in ['a', 'b', 'c', 'd']

lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [10]:
#10) Reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [11]:
#11) Create a tuple with elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
#12) Access the second-to-last element of ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
#13) Find the minimum number in (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [14]:
#14) Find the index of "cat" in ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
#15) Create a tuple with 3 fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [16]:
#16) Create a set with 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [17]:
#17) Clear all elements from {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
#18) Remove 4 from {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
#19) Find the union of {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [20]:
#20) Find the intersection of {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [21]:
#21) Create a dictionary with "name", "age", "city" and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
#22) Add "country": "USA" to {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23) Access the value of "name" in {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person["name"])   # Output: Alice

Alice

In [24]:
#24) Remove "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25) Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [26]:
#26) Create a list, a tuple, and a dictionary, and print them
lst = [1, 2, 3]
t = (10, 20, 30)
d = {"a": 1, "b": 2}
print(lst)
print(t)
print(d)

[1, 2, 3]
(10, 20, 30)
{'a': 1, 'b': 2}

In [27]:
#27) Create a list of 5 random numbers between 1–100, sort ascending, and print
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[18, 22, 29, 51, 90]

In [28]:
#28) Create a list with strings and print the element at the 3rd index.
lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])

date

In [29]:
#29) Combine two dictionaries and print the result.
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
#30) Convert a list of strings into a set.
lst = ["apple", "banana", "apple", "cherry"]
s = set(lst)
print(s)

{'cherry', 'banana', 'apple'}